@import 'tailwindcss';

:root {
  --sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --header-height: 4.75rem;

  font-family: var(--sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1023px) {
  :root {
    --header-height: 4.25rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inherit;
  color: #1e293b;
  background: #ffffff;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
}

main {
  padding-top: var(--header-height);
}
